@import '../../scss_common/vars.scss';

.modal.login {
  width: $form-login-container-width;
  min-width: $form-login-container-min-width;
  height: $form-login-container-height;

  .modal-title {
    width: $form-login-container-width;
    min-width: $form-login-container-min-width;
    height: fit-content;
  }

  .modal-main {
    .form-login {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      gap: $modal-gap;
      padding-top: 1rem;

      .button-group {
        position: absolute;
        bottom: $modal-button-group-bottom;
        right: 20%;
      }
    }
  }
}