#Make sure to sync this with nginx.conf
FRONTEND_PORT=4002

#Make sure to sync this with nginx.conf
BACKEND_URL=http://localhost:8080/api

#This is needed for hot reload
CHOKIDAR_USEPOLLING=true
WATCHPACK_POLLING=true
DOCKERIZED_DEV=true