#Make sure to sync this with nginx.conf
BACKEND_PORT=4001

#Just token time to live
TOKEN_TTL=7d

#Your_secret_here
SECRET=

#Your_DB_url_here
DATABASE_URL=

#May be handful to have them separate
TEST_DATABASE_URL=

#Frontend_origin_for_cors
ALLOWED_ORIGIN=http://frontend:4002

#Some_tweaks_need_this
DOCKERIZED_DEV=true

PG_DB_USE_SSL= #boolean

# Superadmin init vars. These vars are deleted from process.env immediately after superadmin init
SUPERADMIN_USERNAME=super_admin
SUPERADMIN_PHONENUMBER=88888888888
SUPERADMIN_PASSWORD=crappitycrippitycrap