node_modules

build

dist

yarn-error.log*

.webpack
.webpack-dev
.webpack.*
.webpack-dev.*

**/*/.env
*.env

**/*/tsconfig.tsbuildinfo

.yarn/cache
.yarn/install-state.gz

.vscode

# Redis folder

redis/certs
redis/data


# Production configuration files
nginx.conf
redis.conf

# playground
my_new*.js
my_new*.mjs
my_new*.ts
ColorTestPage

# React native + expo specific

# Expo
.expo/
dist/
web-build/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local


docker-compose.front.test.yml
docker-compose.back.test.yml