@import '../../scss_common/colors.scss';
@import '../../scss_common/vars.scss';
@import '../../scss_common/commonMixins.scss';

.page-under-construction {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - $frame-top-height - $footer-height);

  .under-construction {
    @include theme(background-color, ContFirstLayer);
    @include theme(box-shadow, ContainerFirstShadow);
    width: $under-construction-container-width;
    min-width: $under-construction-container-min-width;
    height: $under-construction-container-height;
    border-radius: $main-area-container-border-radius;
    margin: 2 * $frame-top-height 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: $modal-gap;
    position: relative;

    .container-title {
      @include theme(background-color, ContSecondLayer);
      @include theme(box-shadow, ContainerSecondShadow);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: $under-construction-title-height;
      border-radius: $main-area-container-border-radius $main-area-container-border-radius 0 0;
      display: flex;
      flex-direction: column;
      align-items: center;

      .text-title {
        @include header;
        padding-top: 0.7rem;
      }

      .text-info {
        @include subheader;
        padding-top: 0.5rem;
      }
    }

    .container-svg {
      width: $under-construction-svg-scale;
      height: $under-construction-svg-scale;

      .construction-svg {
        @include theme(fill, SVGFill);
        width: $under-construction-svg-scale;
        height: $under-construction-svg-scale;
      }
    }
  }
}