$modal-auth-width: 30rem;
$modal-auth-main-height: 28rem;
$modal-auth-title-height: 5.2rem;
$modal-auth-inputs-width: 22rem;

.alpha.modal.auth {
  width: $modal-auth-width;

  .modal-title {
    height: $modal-auth-title-height;
  }

  .modal-main {
    height: $modal-auth-main-height;

    .form {
      .form-inputs {
        width: $modal-auth-inputs-width;
      }
    }
  }
}

@media (pointer:none), (pointer:coarse) and (orientation: portrait) {
  .alpha.modal.auth {
    .modal-main {
      .form {
        &-buttons {
          display: grid;
        }
      }
    }
  }
}