#Make sure to sync this with nginx.conf
FRONTEND_WEB_PORT=4002

#Make sure to sync this with nginx.conf
BACKEND_URL=http://localhost:8080/api
DOMAIN_URL=http://localhost:8080

# Notification config
NOTIFICATION_ARRAY_LENGTH=100
NOTIFICATION_TIMEOUT=4000

#This is needed for hot reload
CHOKIDAR_USEPOLLING=true
WATCHPACK_POLLING=true
DOCKERIZED_DEV=true