#Make sure to sync this with nginx.conf
FRONTEND_USER_PORT=4002
FRONTEND_ADMIN_PORT=4003
FRONTEND_MANAGER_PORT=4004

#Make sure to sync this with nginx.conf
BACKEND_URL=http://localhost:8080/api

#This is needed for hot reload
CHOKIDAR_USEPOLLING=true
WATCHPACK_POLLING=true
DOCKERIZED_DEV=true