# Example of necessary production env vars

BACKEND_PORT=4001

SECRET=

DATABASE_URL=

#Make sure to sync this with redis.conf . Default user is disabled there
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_TLS=false

# #######################
# NOT IMPLEMENTED: Redis SSL/TLS tunnelling
# REDIS_TLS=true
# #######################

REDIS_USERNAME=
REDIS_PASSWORD=

ALLOWED_ORIGIN=http://localhost:80

DOCKERIZED=true

TOKEN_TTL=7d

PG_DB_USE_SSL= # boolean

SUPERADMIN_USERNAME=
SUPERADMIN_PHONENUMBER= # check regex before aplly
SUPERADMIN_PASSWORD=


# __OPTIONAL__

# You can set up your own reg expressions, min / max len restrictions for user data, address data with ENV
# To see full list of configurable vars - check out ./src/utils/constants.ts
# EXAMPLE: (!) make sure to apply double escape characters everywhere you need one to pass them to regExp
PHONENUMBER_REGEXP=^((8|\\+374|\\+994|\\+995|\\+375|\\+7|\\+380|\\+38|\\+996|\\+998|\\+993)[- ]?)?\\(?\\d{3,5}\\)?[- ]?\\d{1}[- ]?\\d{1}[- ]?\\d{1}[- ]?\\d{1}[- ]?\\d{1}(([- ]?\\d{1})?[- ]?\\d{1})?$
# Will set up registry expression for phonenumber validation before adding user's phone number to database