# Example of necessary production env vars

BACKEND_PORT=4001

SECRET=

DATABASE_URL=

#Make sure to sync this with redis.conf . Default user is disabled there
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_TLS=false

# #######################
# NOT IMPLEMENTED: Redis SSL/TLS tunnelling
# REDIS_TLS=true
# #######################

REDIS_USERNAME=
REDIS_PASSWORD=

# not used while dockerized, just to make sure that config inits
ALLOWED_ORIGIN=http://localhost:80

DOCKERIZED=true

TOKEN_TTL=7d

PG_DB_USE_SSL= # boolean

SUPERADMIN_USERNAME=
SUPERADMIN_PHONENUMBER= # check regex before aplly
SUPERADMIN_PASSWORD=