@use '../../../styles/vars' as g-v; // global-vars
@use '../../../styles/alpha/alpha_vars' as v-v; //variant-vars
@use '../../../styles/theming' as *;
@use '../../../styles/colors' as *;

$header-gap: 1rem;
$header-dropbox-width: 5.2rem;
$header-padding: 1rem;
$header-svg-scale: 2rem;
$header-logged-in-gaps: 0.3rem;
$header-logged-in-border-radius: 4px;

header.alpha {
  position: sticky;
  top: 0;
  z-index: g-v.$header-z-index;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: g-v.$header-height;

  .header-right {
    padding: $header-padding;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: $header-gap;

    .dropbox {
      width: $header-dropbox-width;
    }

    .header-auth-wrapper {
      .logged-in {
        width: calc(v-v.$button-min-width * 0.8 * 2);
        padding: $header-logged-in-gaps;
        gap: $header-logged-in-gaps;
        border-radius: $header-logged-in-border-radius;
        display: flex;
        align-items: center;
        cursor: pointer;
        transition: box-shadow g-v.$hover-animation-speed ease-in-out;
        
        .image.svg {
          width: calc($header-svg-scale * 0.7);
          height: calc($header-svg-scale * 0.7);
        }
      }
    }

    .cart {
      &.image.svg {
        width: $header-svg-scale;
        height: $header-svg-scale;
        cursor: pointer;
      }
    }
  }
}


header.alpha.alpha-color {
  @include theme(background-color, AlphaBGThird);
  @include theme(box-shadow, Shadow, 0 0 6px);

  .header-right {
    .header-auth-wrapper {
      .logged-in {
        @include theme(border, Border, 1px solid);
        @include theme(box-shadow, Special, inset 0 0 6px);

        &:hover {
          @include theme(box-shadow, Border, inset 0 0 6px);
        }
      }
    }
  }
}