@use './functions' as *;
@use 'sass:color';

$light: (

  GlassBG:                        linear-gradient(
                                    to right bottom,
                                    color.scale(getColor(lightGlass), $alpha: -60%),
                                    color.scale(getColor(lightGlass), $lightness: -10%, $alpha: -90%),
                                  ),
  GlassBorder:                    color.scale(getColor(lightGlass), $lightness: -10%, $alpha: -40%),

  Border:                         getColor(lightBorder),
  Special:                        color.scale(getColor(lightBorder), $lightness: -10%, $alpha: -70%),
  Shadow:                         getColor(lightShadow),
  SVGFilter:                      getColor(lightSVGFilter),

  Success:                        color.scale(getColor(success), $lightness: -10%),
  SuccessHighlight:               getColor(success),
  SuccessActive:                  color.scale(getColor(success), $lightness: 10%),

  Reject:                         color.scale(getColor(reject), $saturation: -30%, $lightness: 10%),
  RejectHighlight:                color.scale(getColor(reject), $lightness: -10%),
  RejectActive:                   color.scale(getColor(reject), $lightness: -20%),

  // Alpha base color variant
  AlphaBGMain:                    getColor(alphaLightBG),
  AlphaBGFirst:                   color.scale(getColor(alphaLightBG), $lightness: -10%),
  AlphaBGFirstHighlight:          color.scale(getColor(alphaLightBG), $lightness: -15%),
  AlphaBGFirstActive:             color.scale(getColor(alphaLightBG), $lightness: -20%),
  AlphaBGSecond:                  color.scale(getColor(alphaLightBG), $lightness: -5%),
  AlphaBGSecondHighlight:         color.scale(getColor(alphaLightBG), $lightness: -10%),
  AlphaBGSecondActive:            color.scale(getColor(alphaLightBG), $lightness: -15%),
  AlphaBGThird:                   getColor(alphaLightBG),
  AlphaBGThirdHighlight:          color.scale(getColor(alphaLightBG), $lightness: -10%),
  AlphaBGThirdActive:             color.scale(getColor(alphaLightBG), $lightness: -20%),
  
  AlphaText:                      getColor(alphaLightText),
  AlphaTextButtonLabel:           getColor(alphaLightBG),

  AlphaDisabled:                  getColor(alphaDisabled),

  AlphaPrimary:                   color.scale(getColor(alphaPrimary), $lightness: -10%),
  AlphaPrimaryHighlight:          getColor(alphaPrimary),
  AlphaPrimaryActive:             color.scale(getColor(alphaPrimary), $lightness: 10%),

  AlphaAccent:                    color.scale(getColor(alphaAccent), $lightness: -10%),
  AlphaAccentHighlight:           getColor(alphaAccent),
  AlphaAccentActive:              color.scale(getColor(alphaAccent), $lightness: 10%),

  AlphaAccentTransparent:         color.scale(getColor(alphaAccent), $lightness: -10%, $alpha: -80%),
  AlphaAccentTransparentHighlight:color.scale(getColor(alphaAccent), $alpha: -70%),
  AlphaAccentTransparentActive:   color.scale(getColor(alphaAccent), $lightness: -10%, $alpha: -50%),
  // Alpha base color variant

);