$colors: (

  // Alpha base color variant
  alphaDarkBG: #1E1E1E,
  alphaDarkText: #d3d3d3c1,
  alphaDarkGlass: #5e5c5c,

  alphaLightBG: #efefef,
  alphaLightText: #2F2F2F,
  alphaLightGlass: #f9fcf9,

  alphaDisabled: #3F4040,
  alphaShadow: #000000,
  alphaPrimary: #2368bd,
  alphaAccent: #bd24b5,
  alphaSuccess: #01cf46,
  alphaReject: #a30137,
  // Alpha base color variant

  // Beta and so on...

);