node_modules

**/*/node_modules

*.env
.env.*
.env
**/*/.env

.git

dist
services/web/dist

.eslintrc

.eslintignore

services/web/.eslint*
**/*/.eslint*

.webpack
.webpack-dev
.webpack.*
.webpack-dev.*
services/web/.webpack.user
services/web/.webpack.admin
services/web/.webpack.manager
services/web/.webpack-dev.user
services/web/.webpack-dev.admin
services/web/.webpack-dev.manager
services/web/.webpack*.*