node_modules

**/*/node_modules

*.env
.env.*
.env
**/*/.env

.git

dist
services/frontend/dist

.eslintrc

.eslintignore

services/frontend/.eslint*
**/*/.eslint*

.webpack
.webpack-dev
.webpack.*
.webpack-dev.*
services/frontend/.webpack.user
services/frontend/.webpack.admin
services/frontend/.webpack.manager
services/frontend/.webpack-dev.user
services/frontend/.webpack-dev.admin
services/frontend/.webpack-dev.manager
services/frontend/.webpack*.*