// BUTTONS
$button-min-width: 8rem;
$button-height: 2.5rem;
$button-padding-v: 0.7rem;
$button-padding-h: 1rem;
$button-border-radius: 0.6rem;
$button-border-radius-hover: 0.4rem;
$button-hover-offset: -0.5rem;
$button-border-thickness: 4px;
$button-animation-speed: 200ms;
// BUTTONS


// BUTTON GROUPS
// BUTTON GROUPS


// DROPBOXES
$dropbox-slide-speed: 350ms;
$dropbox-options-max-height: 50vh;
// DROPBOXES


// INPUTS
$input-font-size: 1rem;
$input-font-weight: 500;
$input-height: 1.6rem;
$input-padding-left: 0.3rem;
$input-border-thickness: 1px;
$input-border-thickness-highlight: 3px;
$input-label-top: 0.2rem;
$input-label-left: 0.4rem;
$input-label-lift-amount: -1rem;
$input-label-lifted-font-size: 0.8rem;
$input-animation-speed: 200ms;
$input-datetime-svg-scale: 1rem;
$input-svg-scale: 0.7rem;
// INPUTS


// MODALS
$modal-gap: 2rem;
$modal-min-width: 27rem;
$modal-title-padding: 0.7rem;
$modal-subtitle-padding: 0.5rem 1rem 0.7rem 1rem;
$modal-button-group-bottom: 4rem;
$modal-main-padding: 0 0 2rem 0;
$modal-container-border-radius: 0.5rem;
// MODALS


// SWITCHES
$switch-width: 2.4rem;
$switch-height: 1.1rem;
$switch-gutter: 0.2rem;
$switch-font-size: 0.6rem;
$switch-control-speed: .15s;
// SWITCHES


// SCROLLBAR
$scrollbar-width: 8px;
$scrollbar-offset: 3px;
// SCROLLBAR


// MAIN-AREA-CONTAINERS
$main-area-container-border-radius: 0.5rem;
$main-area-container-padding: 1rem;
$main-area-container-first-layer-margin: 1rem;
// MAIN-AREA-CONTAINERS


// NAV-ITEMS
$nav-item-animation-speed: 300ms;
$nav-item-padding-v: 0.5rem;
$nav-item-padding-h: 0.7rem;
$nav-item-min-width: 8rem;
// NAV-ITEMS


// TABLES
$table-row-height: 1.8rem;
$table-cell-padding: 0 0.2rem;
$table-border-radius: 6px;
// TABLES


// NOTIFICATIONS
$notification-top: 4rem;
$notification-padding: 1rem;
$notification-left: 1rem;
$notification-border-radius: 0.5rem;
$notification-border-thickness: 1px;
$notification-font-size: 1.2rem;
// NOTIFICATIONS