@use '../colors' as *;
@use '../vars' as g-v; // global-vars
@use './alpha_vars' as v-v; // variant-vars
@use '../theming' as *;


.alpha.container.first-layer {
  border-radius: v-v.$main-area-container-border-radius;
  padding: v-v.$main-area-container-padding;
  margin: v-v.$main-area-container-first-layer-margin;
  transition: background-color g-v.$hover-animation-speed ease-in-out;
}

.alpha.container.second-layer {
  border-radius: v-v.$main-area-container-border-radius;
  padding: v-v.$main-area-container-padding;
  transition: background-color g-v.$hover-animation-speed ease-in-out;
}

.alpha.container.third-layer {
  border-radius: v-v.$main-area-container-border-radius;
  padding: v-v.$main-area-container-padding;
  transition: background-color g-v.$hover-animation-speed ease-in-out;
}


.alpha.alpha-color.container.first-layer {
  @include theme(background-color, AlphaBGFirst);
  @include theme(box-shadow, Shadow, 0 0 8px);

  &.clickable:hover {
    @include theme(background-color, AlphaBGFirstHighlight);
  }

  &.clickable:active {
    @include theme(background-color, AlphaBGFirstActive);
  }
}

.alpha.alpha-color.container.second-layer {
  @include theme(background-color, AlphaBGSecond);
  @include theme(box-shadow, Shadow, 0 0 6px);

  &.clickable:hover {
    @include theme(background-color, AlphaBGSecondHighlight);
  }

  &.clickable:active {
    @include theme(background-color, AlphaBGSecondActive);
  }
}

.alpha.alpha-color.container.third-layer {
  @include theme(background-color, AlphaBGThird);
  @include theme(box-shadow, Shadow, 0 0 6px);

  &.clickable:hover {
    @include theme(background-color, AlphaBGThirdHighlight);
  }

  &.clickable:active {
    @include theme(background-color, AlphaBGThirdActive);
  }
}