@use './common' as *;
@use './fonts' as *;
@use './theming' as *;
@use './colors' as *;
@use './loading' as *;
@use './alpha/button' as *;
@use './alpha/buttongroup' as *;
@use './alpha/input' as *;
@use './alpha/modal' as *;
@use './alpha/switch' as *;
@use './alpha/dropbox' as *;
@use './alpha/scrollbar' as *;
@use './alpha/container' as *;
@use './alpha/textcomp' as *;
@use './alpha/tooltip' as *;
@use './alpha/navitem' as *;
@use './additions/textcomp' as *;
@use './vars' as g-v; // global-vars

html {
  @include generateThemeVariables;
}

body {
  @extend %reset-std;
  overflow: hidden;
}

div {
  @extend %reset-std;
}

#app-wrapper {
  width: 100vw;
  height: 100vh;
  position: relative;

  .app-content-wrapper.scrollable-wrapper {
    @extend %scrollbar-custom;
  }
}

.alpha.alpha-color#app-wrapper {
  @include theme(background-color, AlphaBGMain);
}

// Main window
// .window-container-divider {
//   height: 100%;
//   width: calc(100vw - g-v.$menu-width);
//   // -webkit-transition: all g-v.$menu-item-hover-animation-speed ease-in-out;
//   // transition: all g-v.$menu-item-hover-animation-speed ease-in-out;
//   overflow: hidden;

//   .main-container {
//     height: calc(100vh - g-v.$frame-top-height - g-v.$footer-height);
//     overflow-x: hidden;
//     overflow-y: auto;
//     @extend %scrollbar-custom;
//   }
// }

// .window-container {
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
//   height: calc(100vh - g-v.$frame-top-height - g-v.$footer-height);
// }
// Main window