@use './common' as *;
@use './fonts' as *;
@use './theming' as *;
@use './colors' as *;
@use './loading' as *;
@use './alpha/button' as *;
@use './alpha/buttongroup' as *;
@use './alpha/form' as *;
@use './alpha/input' as *;
@use './alpha/modal' as *;
@use './alpha/switch' as *;
@use './alpha/dropbox' as *;
@use './alpha/scrollbar' as *;
@use './alpha/container' as *;
@use './alpha/table' as *;
@use './alpha/textcomp' as *;
@use './alpha/tooltip' as *;
@use './alpha/navitem' as *;
@use './additions/textcomp' as *;
@use './vars' as g-v; // global-vars

html {
  @include generateThemeVariables;
}

body {
  @extend %reset-std;
  overflow: hidden;
}

div, span, p, h1, h2, h3, h4 {
  @extend %reset-std;
}

#app-wrapper {
  width: 100vw;
  height: 100vh;
  position: relative;

  .app-content-wrapper.scrollable-wrapper {
    @extend %scrollbar-custom;
  }
}

.alpha.alpha-color#app-wrapper {
  @include theme(background-color, AlphaBGMain);
}