// MENU 
// $menu-gap: 4vh;
// $menu-group-gap: 2vh;
// $menu-item-padding: 0.5rem 1rem 0.5rem 1rem;
// $menu-padding: 0;
// $menu-width: 15rem; // this must be the same as Menu.tsx has for main-container
// $menu-z-index: 200;
// $menu-border-thickness: 1px;
// $menu-item-border-radius: 3rem;
// $menu-font-size: 0.8rem;
// $menu-item-hover-border-offset: -0.5rem;
// $menu-item-hover-animation-speed: 200ms;
// $menu-toggler-svg-scale: 0.7rem;
// MENU


// MENU-COLLAPSED
// $menu-width-collapsed: 3.5rem;
// $menu-item-padding-collapsed: 0.2rem 0.3rem 0 0.3rem;
// // $menu-item-padding-collapsed: 0;
// $menu-item-toggler-padding-collapsed: 0.2rem 0.3rem;
// $menu-item-border-radius-collapsed: 0.5rem;
// $menu-item-hover-border-offset-collapsed: -0.4rem;
// $menu-item-svg-scale: 1.5rem;
// MENU-COLLAPSED




// BUTTONS
$button-z-index: 100;
// BUTTONS


// COMMON FONT SIZE VARIABLES
$header-font-size: 1.2rem;
$header-font-weight: 600;

$header-letter-spacing: 0.1rem;

$subheader-font-size: 1rem;
$subheader-font-weight: 500;

$bigtext-font-size: 1.6rem;
$bigtext-font-weight: 800;

$numerics-big-font-size: 1.6rem;
$numerics-big-font-weight: 600;

$numerics-small-font-size: 1rem;
$numerics-small-font-weight: 500;
// COMMON FONT SIZE VARIABLES


// UNDER-CONSTRUCION-PAGE
// $under-construction-container-width: 40vw;
// $under-construction-container-min-width: 25rem;
// $under-construction-container-height: 36rem;
// $under-construction-container-gap: 2rem;
// $under-construction-title-height: 4.5rem;
// $under-construction-svg-scale: 25rem;
// UNDER-CONSTRUCION-PAGE


// MODALS
$modal-wrapper-z-index: 500;
// MODALS


// GLASS CONTAINER PANELS
$glass-container-padding: 1rem;
$glass-container-border-radius: 0.5rem;
$glass-container-border-thickness: 1px;
// GLASS CONTAINER PANELS


// COMMON ANIMATION
$hover-animation-speed: 200ms;
// COMMON ANIMATION