// HEADER (page header on top)
$header-z-index: 600;
$header-height: 4rem;
// HEADER (page header on top)


// BUTTONS
$button-z-index: 100;
// BUTTONS


// MODALS
$modal-wrapper-z-index: 900;
// MODALS


// GLASS CONTAINER PANELS
$glass-container-padding: 1rem;
$glass-container-border-radius: 0.5rem;
$glass-container-border-thickness: 1px;
// GLASS CONTAINER PANELS


// COMMON ANIMATION
$hover-animation-speed: 200ms;
$slow-bg-animation-speed: 1000ms;
// COMMON ANIMATION