
$fixed-locs-tools-dropbox-width: 12rem;

.container {
  .fixed-locs-header {
    .text.title {
      padding-bottom: 1rem;
    }

    &-tools {
      padding: 1rem;

      #namespaces-box {
        width: $fixed-locs-tools-dropbox-width;
      }
    }
  }

  table#fixed-locs {
    table-layout: fixed;

    tr {
      th, td {

        div {
          text-overflow: ellipsis;
          word-wrap: break-word;
          max-width: 10rem;
          overflow: hidden;
          white-space: nowrap;
        }
      }

      th:nth-child(2),
      td:nth-child(2) {
        div {
          max-width: 25rem;
        }
      }

      th:nth-child(n + 3),
      td:nth-child(n + 3) {
        div {
          max-width: calc((100vw - 25rem) / 3);
        }
      }
    }
  }
}