.georgia {
  font-family: Georgia, serif;
}

.verdana {
  font-family: Verdana, Geneva, sans-serif;
}

.trebuchet {
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
}

.courier {
  font-family: 'Courier New', Courier, monospace;
}